/*スマートフォン、PC共通設定*/
.header {
    display: flex;
    justify-content: space-between;
    gap: 0 auto;
}

.header h2 {
    background-color: black;
    color: #fff;
}


.header ul {
    display: flex;
    list-style-type: none;
    font-size: 20px;
    gap: 0 70px;
}

.header ul li {
    float: left;
}

.header ul .header_main {
    background-color: black;
    color: #fff;

}

.header_photo {
    margin: 0 auto;
    display: block;
    width: 100%;

}


.main h2 {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    text-underline-offset: 16px;
    margin-top: 200px;
    font-size: 50px;
    
}

.main .main_title {
    margin: 20px 0 10px 0;
    display: flex;
    justify-content: center;
    font-weight: bolder;
}
.main .main_text {
    display: flex;
    justify-content: center;
}

.main .main_photo {
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

.profile h2 {
    text-decoration: underline;
    text-underline-offset: 16px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-size: 50px;
}

.profile .title {
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.profile .text {
    justify-content: center;
    display: flex;
}

.profile .profile_photo {
    margin: 0 auto;
    display: block;
}

.footer p {
    color: grey;
    border-bottom: 10px solid #000;
    margin-top: 200px;
    display: flex;
    justify-content: center;
}

/*PCの設定*/
@media screen and (min-width: 600px) {
    .header {
            width: 960px;  
            justify-content: space-around;
            margin-left: 23%;

    }

        .header h2 {
            font-size: 30px;
    }

   .main_box {
       display: grid;
       grid-template-columns: 80% 20%;
       object-fit: cover;
   }

   .main .main_title {
       font-size: 30px;
       font-weight: bold;
       margin-top: 30px;
       margin-right: 74%;
   }

   .main .main_text {
       font-size: 30px;
       width: 100%;
       margin-bottom: 20%;
   }

   .main_photo {
       grid-column: 2;
       grid-row: 1 / 3;
       object-fit: cover;
       width: 100%;

            }

    .profile_box {
      display: flex;
      gap: 0 20px;
    }
   

    .profile .profile_photo {
        width: 100%;
        }
       

    .footer p {
        color: grey;
        border-bottom: 1px solid gray;
        margin-top: 20px;
        margin-top: 200px;
        }

}